{
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2020
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          ["@newrelic/browser-agent-core/src", "./packages/browser-agent-core"]
        ]
      }
    }
  }
}
