{
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2020
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          [
            "@newrelic/browser-agent-core/src",
            "@newrelic/browser-agent-custom",
            "@newrelic/browser-agent-loader-utils/src",
            "@newrelic/browser-agent-microfrontend",
            "@newrelic/browser-agent"
          ]
        ]
      }
    }
  }
}