build/*.js
tools/scripts/*.js
**/node_modules/*
**/vendor/*
sandbox
post-installer.js
tests/assets/frameworks/*
**/dist/*
babel.config.js
tools/test-builds/*
tests/assets/test-builds/**/*.js
tests/*
packages/browser-agent-core/cjs/*
packages/builder.js