
{
  "parserOptions": {
    "ecmaVersion": 5,
    "sourceType": "script",
    "ecmaFeatures": {
      "globalReturn": true
    }
  },
  "extends": ["eslint:recommended", "plugin:import/recommended"],
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "globals": {
    "NREUM": true,
    "newrelic": true,
    "__nr_require": true,
    "attachEvent": true
  },
  "rules": {
    "space-before-function-paren": ["off"],
    "no-extend-native": 0,
    "no-wrap-func": 0,
    "camelcase": 0,
    "no-restricted-syntax": ["error"],
    "no-restricted-imports": ["error"],
    "no-undef": "off",
    "no-empty": "off",
    "no-setter-return": "off",
    "no-unused-vars": 0,
    "no-warning-comments": 0,
    "no-prototype-builtins": "off",
    "getter-return": "warn",
    "comma-dangle": "error"
  }
}
