/build
**/dist
/config
/tmp
/.npm
**/coverage
log
node_modules
**/node_modules
*.csv
*.tap
*.swp
*.log
.idea
.DS_Store
.vscode
.secrets
**/local-install
tests/assets/test-builds/**/*
packages/browser-agent-core/cjs
packages/browser-agent/webpack-analysis.html
