/build
**/dist
/config
/tmp
/.npm
**/coverage
**/coverage-e2e
log
node_modules
**/node_modules
*.csv
*.tap
*.swp
*.log
.idea
.DS_Store
.vscode
.secrets
**/local-install
tests/assets/test-builds/**/*
packages/browser-agent-core/cjs
**/webpack-analysis*.html
/cdn/build
**/cdn/webpack-analysis-polyfills.html
**/cdn/webpack-analysis-standard.html
**/cdn/webpack-analysis-worker.html
./docs-website
/temp
tests/assets/test-builds/**/*
tests/assets/scripts/**/*
/.lambdatest
bam.json