<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A2Q Test Page - Released</title>
    <script src="./released-config.js"></script>
    <script src="https://js-agent.newrelic.com/nr-loader-spa-1.x.x.min.js"></script>
</head>
<body>
    <h1>A2Q Test Page</h1>
    <p>This page is used for testing the New Relic Browser Agent with Agent2Query. It should capture 1 of every event the agent generates.</p>
    <!-- page resources -->
    <img src="./square.png" />
    <script src="./events.js"></script>
</body>
</html>
