# This workflow can be run on any branch.
# Given an environment, this workflow will delete the branch's experiment from S3

name: Delete Experiment

on:
  workflow_dispatch:
    inputs:
    nr_environment:
      description: 'Target New Relic environment'
      required: true
      type: choice
      options:
      - dev
      - staging

jobs:
  delete-experiment-on-s3:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@v4
      - name: Clean branch name
        id: clean-branch-name
        run: echo "results=$(echo '${{ github.ref }}' | sed 's/refs\/heads\///g' | sed 's/[^[:alnum:].-]/-/g')" >> $GITHUB_OUTPUT
      - name: Delete experiment
        id: s3-delete
        uses: ./.github/actions/s3-delete
        with:
          aws_access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws_role: ${{ secrets.AWS_ROLE_ARN }}
          aws_bucket_name: ${{ secrets.AWS_BUCKET }}
          bucket_dir: experiments/${{ inputs.nr_environment }}/${{ steps.clean-branch-name.outputs.results }}
