# This workflow runs eslint on the repository.

name: 'ESLint'

on:
  workflow_dispatch:
  workflow_call:
    inputs:
      ref:
        description: 'Github branch ref to checkout and run tests on.'
        required: false
        type: string

jobs:
  lint:
    name: Run ESLint
    runs-on: ubuntu-latest
    timeout-minutes: 30
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.ref || github.ref }}
      - uses: actions/setup-node@v4
        with:
          node-version: 22.11.0
      - name: Install project dependencies
        run: npm ci
      - name: Run eslint
        run: npm run lint
