name: Remove labels
on:
  pull_request_target:
    types: [synchronize, reopened]

jobs:
  remove_labels:
    runs-on: ubuntu-latest
    steps:
      - name: remove labels
        uses: newrelic/labeler@master
        with:
          remove-labels: "safe to test"          
