name: Remove labels
on:
  pull_request_target:
    types: [synchronize, reopened]

jobs:
  remove_safe_to_test:
    runs-on: ubuntu-latest
    steps:
      - name: remove labels
        uses: newrelic/labeler@master
        with:
          remove-labels: 'safe to test'
  remove_deploy_to_dev:
    runs-on: ubuntu-latest
    steps:
      - name: remove labels
        uses: newrelic/labeler@master
        with:
          remove-labels: 'deploy to dev'
