# This workflow runs on push to the main branch. This is to execute checks
# like jest, upload test coverage to keep codecov updates, and build and deploy
# the main branch changes to our internal dev and stage environment.

name: 'Main Branch Push'

on:
  workflow_dispatch:
  push:
    branches:
      - 'main'

# Only allow one instance of this workflow to run at a time
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  jest-unit:
    uses: ./.github/workflows/jest.yml
    secrets: inherit
    with:
      collection: 'unit'
      coverage: true

  jest-component:
    uses: ./.github/workflows/jest.yml
    secrets: inherit
    with:
      collection: 'component'
      coverage: true

  wdio-coverage:
    name: WDIO coverage
    uses: ./.github/workflows/wdio-single-browser.yml
    with:
      browser-target: chrome@latest
      build-number: main-job-${{ github.run_number }}-attempt-${{ github.run_attempt }}
      coverage: true
    secrets: inherit
