# This workflow is used to perform repository updates after a
# production release has been created.

name: Post Release Updates

on:
  workflow_dispatch:
  release:
    types: [published]

jobs:
  post-release-updates:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    env:
      LAMBDA_USERNAME: ${{ secrets.LAMBDA_USERNAME }}
      LAMBDA_ACCESS_KEY: ${{ secrets.LAMBDA_ACCESS_KEY }}
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.ref || github.ref }}
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
      - name: Perform updates
        uses: ./.github/actions/post-release-updates
        with:
          github_login: ${{ secrets.BROWSER_GITHUB_BOT_NAME }}
          github_token: ${{ secrets.BROWSER_GITHUB_BOT_INTERNAL_PAT }}
          github_email: ${{ secrets.BROWSER_GITHUB_BOT_EMAIL }}
