name: Build and publish PROD Release

on:
  release:
    types:
      - published
  workflow_dispatch:

jobs:
  publish-to-s3:
    runs-on: ubuntu-latest
    container: node:14
    env:
      NEWRELIC_ENVIRONMENT: ci
      JIL_SAUCE_LABS_USERNAME: ${{ secrets.JIL_SAUCE_LABS_USERNAME }}
      JIL_SAUCE_LABS_ACCESS_KEY: ${{ secrets.JIL_SAUCE_LABS_ACCESS_KEY }}
      NEW_RELIC_LICENSE_KEY: ${{ secrets.JIL_NODE_NEW_RELIC_LICENSE_KEY }}
      BUILD_NUMBER: Release${{ github.event.number }}-${{ github.run_number }}
    steps:
      - uses: actions/checkout@v2
      - name: install
        run: npm ci
      - name: build:all
        run: npm run build:all
      - name: run tests
        run: node ./tools/jil/bin/cli.js -f merged -b chrome@latest -s -t 85000 --concurrent=4
      - name: build:prod
        run: npm run cdn:build:prod
      - name: check files don't exist already
        run: node tools/scripts/check-version.js -e no
      - name: upload artifacts to S3
        run: |
          node tools/scripts/upload-to-s3.js \
            --bucket ${{ secrets.AWS_BUCKET }} \
            --role ${{ secrets.AWS_ROLE_ARN }}
      - name: build:nr
        run: npm run cdn:build:nr
      - name: upload artifacts to NR
        run: |
          node tools/scripts/upload-to-nr.js \
            --staging-api-key=${{ secrets.NR_API_KEY_STAGING }} \
            --production-api-key=${{ secrets.NR_API_KEY_PRODUCTION }} \
            --eu-api-key=${{ secrets.NR_API_KEY_EU }}
      - name: check files exist
        run: node tools/scripts/check-version.js -e yes -m
