name: Build and publish EXPERIMENT to CDN

on:
  workflow_dispatch:

jobs:
  publish-experiment-to-s3:
    runs-on: ubuntu-latest
    container: node:14
    env:
      NEWRELIC_ENVIRONMENT: ci
      BUILD_NUMBER: Release${{ github.event.number }}-${{ github.run_number }}
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      BRANCH_NAME: $GITHUB_REF_NAME
    steps:
      - uses: actions/checkout@v3
      - name: install
        run: npm ci
      - name: build:experiment
        run: npm run cdn:build:experiment
      - name: upload artifacts to S3
        run: |
          node tools/scripts/upload-to-s3.js \
            --bucket ${{ secrets.AWS_BUCKET }} \
            --role ${{ secrets.AWS_ROLE_ARN }} \
            --dir experiments/${{ env.BRANCH_NAME }}
      - name: purge fastly cache url
        run: |
          node ./tools/scripts/fastly.js \
            --fastly-key ${{ secrets.FASTLY_PURGE_KEY }} \
            --purge-path experiments/${{ env.BRANCH_NAME }}/nr-loader-spa.min.js
  run-dev-process:
    needs: [publish-experiment-to-s3]
    uses: ./.github/workflows/publish-dev.yml
    secrets: inherit
