name: Build and publish DEV to CDN

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  publish-to-s3:
    runs-on: ubuntu-latest
    container: node:14
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
    steps:
      - uses: actions/checkout@v3
      - name: install
        run: npm ci
      - name: build
        run: npm run cdn:build:dev
      - name: upload artifacts to S3
        run: |
          node tools/scripts/upload-to-s3.js \
            --bucket ${{ secrets.AWS_BUCKET }} \
            --role ${{ secrets.AWS_ROLE_ARN }} \
            --dev
      - name: purge fastly dev cache url
        run: |
          node ./tools/scripts/fastly.js \
            --fastly-key ${{ secrets.FASTLY_PURGE_KEY }} \
            --purge-path dev/nr-loader-spa.min.js
      - name: check files exist
        run: node tools/scripts/check-version.js -e yes -d
      - name: re-publish internal loader
        run: |
          node ./tools/scripts/upload-ab-to-s3.js \
            --env staging \
            --appId ${{ secrets.INTERNAL_STAGING_APPLICATION_ID }} \
            --licenseKey ${{ secrets.INTERNAL_LICENSE_KEY }} \
            --bucket ${{ secrets.AWS_BUCKET }} \
            --sha $GITHUB_SHA \
            --workflow $GITHUB_WORKFLOW \
            --role ${{ secrets.AWS_ROLE_ARN }}
      - name: purge fastly a-b cache url
        run: |
          node ./tools/scripts/fastly.js \
            --fastly-key ${{ secrets.FASTLY_PURGE_KEY }} \
            --env staging \
            --purge-internal
