# This workflow is used to build and publish a github release
# to all platforms. This workflow cannot be manually ran to
# prevent the same release from being published more than once.

name: Publish Release

on:
  release:
    types: [published]

jobs:
  # Build and publish the github release to S3
  publish-prod-to-s3:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: lts/*
      - name: Install project dependencies
        run: npm ci
      - name: Build prod
        run: npm run cdn:build:prod
      - name: Upload prod
        id: prod-s3-upload
        uses: ./.github/actions/s3-upload
        with:
          aws_access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws_role: ${{ secrets.AWS_ROLE_ARN }}
          aws_bucket_name: ${{ secrets.AWS_BUCKET }}
          local_dir: $GITHUB_WORKSPACE/build
      - name: Gather prod purge paths
        id: prod-purge-paths
        run: echo "results=$(echo '${{ steps.prod-s3-upload.outputs.results }}' | jq -j '.[].Key | select(. | test("nr-loader-.*?\\.js$") or test(".*stats\\.json$")) + " "')" >> $GITHUB_OUTPUT
      - name: Purge prod fastly cache
        uses: ./.github/actions/fastly-purge
        with:
          fastly_key: ${{ secrets.FASTLY_PURGE_KEY }}
          fastly_service: js-agent.newrelic.com
          purge_path: ${{ steps.prod-purge-paths.outputs.results }}
      - name: Verify prod assets
        uses: ./.github/actions/fastly-verify
        with:
          fastly_key: ${{ secrets.FASTLY_PURGE_KEY }}
          fastly_service: js-agent.newrelic.com
          asset_path: ${{ join(fromJson(steps.prod-s3-upload.outputs.results).*.Key, ' ') }}

  # Rebuild and publish the prod environment A/B script
  publish-prod-ab:
    needs: [publish-prod-to-s3]
    runs-on: ubuntu-latest
    timeout-minutes: 30
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: lts/*
      - name: Get version number
        id: agent-loader-version
        run: echo "results=$(cat package.json | jq -r '.version')" >> $GITHUB_OUTPUT
      - name: Deploy prod a/b script
        uses: ./.github/actions/internal-ab
        with:
          nr_environment: prod
          nrba_app_id: ${{ secrets.INTERNAL_STAGING_APPLICATION_ID }}
          nrba_license_key: ${{ secrets.INTERNAL_LICENSE_KEY }}
          nrba_current_script_url: https://js-agent.newrelic.com/nr-loader-spa-current.min.js
          nrba_next_script_url: https://js-agent.newrelic.com/nr-loader-spa-${{ steps.agent-loader-version.outputs.results }}.min.js
          aws_access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws_role: ${{ secrets.AWS_ROLE_ARN }}
          aws_bucket_name: ${{ secrets.AWS_BUCKET }}
          fastly_key: ${{ secrets.FASTLY_PURGE_KEY }}

  # Rebuild and publish the eu-prod environment A/B script
  publish-eu-prod-ab:
    needs: [publish-prod-to-s3]
    runs-on: ubuntu-latest
    timeout-minutes: 30
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: lts/*
      - name: Get version number
        id: agent-loader-version
        run: echo "results=$(cat package.json | jq -r '.version')" >> $GITHUB_OUTPUT
      - name: Deploy eu-prod a/b script
        uses: ./.github/actions/internal-ab
        with:
          nr_environment: eu-prod
          nrba_app_id: ${{ secrets.INTERNAL_STAGING_APPLICATION_ID }}
          nrba_license_key: ${{ secrets.INTERNAL_LICENSE_KEY }}
          nrba_current_script_url: https://js-agent.newrelic.com/nr-loader-spa-current.min.js
          nrba_next_script_url: https://js-agent.newrelic.com/nr-loader-spa-${{ steps.agent-loader-version.outputs.results }}.min.js
          aws_access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws_role: ${{ secrets.AWS_ROLE_ARN }}
          aws_bucket_name: ${{ secrets.AWS_BUCKET }}
          fastly_key: ${{ secrets.FASTLY_PURGE_KEY }}

  # Publish the loaders to nr
  publish-prod-to-nr:
    needs: [publish-prod-to-s3]
    runs-on: ubuntu-latest
    timeout-minutes: 30
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: lts/*
      - name: Get version number
        id: agent-loader-version
        run: echo "results=$(cat package.json | jq -r '.version')" >> $GITHUB_OUTPUT
      - name: Publish loader to nr
        uses: ./.github/actions/nr-upload
        with:
          nr_prod_api_key: ${{ secrets.NR_API_KEY_PRODUCTION }}
          nr_stage_api_key: ${{ secrets.NR_API_KEY_STAGING }}
          loader_version: ${{ steps.agent-loader-version.outputs.results }}
      - name: Verify loaders in nr
        uses: ./.github/actions/nr-verify
        with:
          loader_version: ${{ steps.agent-loader-version.outputs.results }}

  # Publish the agent to npmjs.org
  publish-npm:
    needs: [publish-prod-to-s3]
    runs-on: ubuntu-latest
    timeout-minutes: 30
    defaults:
      run:
        shell: bash
    env:
      NPM_TOKEN: ${{ secrets.BROWSER_NPM_TOKEN }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: lts/*
      - name: Authenticate npm
        run: |
          npm config set '//registry.npmjs.org/:_authToken' "${NPM_TOKEN}"
      - name: Install project dependencies
        run: npm ci
      - name: Build npm package
        run: npm run build:npm
      - name: Publish npm package
        run: npm publish

  # Raise the release notes pr on the docs website repo
  raise-release-notes-pr:
    needs: [publish-prod-to-s3]
    runs-on: ubuntu-latest
    timeout-minutes: 30
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: lts/*
      - name: Get version number
        id: agent-loader-version
        run: echo "results=$(cat package.json | jq -r '.version')" >> $GITHUB_OUTPUT
      - name: Raise release notes pr
        uses: ./.github/actions/docs-pr
        with:
          tag: v${{ steps.agent-loader-version.outputs.results }}
          github_login: ${{ secrets.BROWSER_GITHUB_BOT_NAME }}
          github_token: ${{ secrets.BROWSER_GITHUB_BOT_PAT }}
          github_email: ${{ secrets.BROWSER_GITHUB_BOT_EMAIL }}

  # Publish the new "current" version to s3 after the prod a/b scripts have been built
  publish-current-to-s3:
    needs: [publish-prod-ab, publish-eu-prod-ab]
    runs-on: ubuntu-latest
    timeout-minutes: 30
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: lts/*
      - name: Get version number
        id: agent-loader-version
        run: echo "results=$(cat package.json | jq -r '.version')" >> $GITHUB_OUTPUT
      - name: Copy loaders to current
        id: current-s3-update
        uses: ./.github/actions/update-current
        with:
          aws_access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws_role: ${{ secrets.AWS_ROLE_ARN }}
          aws_bucket_name: ${{ secrets.AWS_BUCKET }}
          loader_version: ${{ steps.agent-loader-version.outputs.results }}
      - name: Gather current purge paths
        id: current-purge-paths
        run: echo "results=$(echo '${{ steps.current-s3-update.outputs.results }}' | jq -j '.[].Key + " "')" >> $GITHUB_OUTPUT
      - name: Purge current fastly cache
        uses: ./.github/actions/fastly-purge
        with:
          fastly_key: ${{ secrets.FASTLY_PURGE_KEY }}
          fastly_service: js-agent.newrelic.com
          purge_path: ${{ steps.current-purge-paths.outputs.results }}
      - name: Verify current assets
        uses: ./.github/actions/fastly-verify
        with:
          fastly_key: ${{ secrets.FASTLY_PURGE_KEY }}
          fastly_service: js-agent.newrelic.com
          asset_path: ${{ join(fromJson(steps.current-s3-upload.outputs.results).*.Key, ' ') }}
