name: Build and publish DEV Release

on:
  push:
    branches:
      - main 
  workflow_dispatch:

jobs:
  install:
    runs-on: ubuntu-latest
    container: node:14
    steps:
      - uses: actions/checkout@v2
      - name: Cache node modules
        uses: actions/cache@v2
        with:
          path: ./.npm
          key: ${{ runner.os }}-publish-${{ hashFiles('**/package-lock.json') }}
      - name: install
        run: npm ci
  publish-to-s3:
    needs: install
    runs-on: ubuntu-latest
    container: node:14
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
    steps:
      - uses: actions/checkout@v2
      - name: Cache node modules
        uses: actions/cache@v2
        with:
          path: ./.npm
          key: ${{ runner.os }}-publish-${{ hashFiles('**/package-lock.json') }}
      - name: install
        run: npm ci
      - name: build
        run: npm run cdn:build:dev
      - name: upload artifacts to S3
        run: |
          node tools/scripts/upload-to-s3.js \
            --bucket ${{ secrets.AWS_BUCKET }} \
            --role ${{ secrets.AWS_ROLE_ARN }}
  check-published:
    needs: publish-to-s3
    runs-on: ubuntu-latest
    container: node:14
    steps:
      - uses: actions/checkout@v2
      - name: Cache node modules
        uses: actions/cache@v2
        with:
          path: ./.npm
          key: ${{ runner.os }}-publish-${{ hashFiles('**/package-lock.json') }}
      - name: install
        run: npm ci
      - name: check files exist
        run: node tools/scripts/check-version.js -e yes
