name: 'Pull Request Checks'

on:
  workflow_dispatch:

jobs:
  find-pull-request:
    name: Find pull request target
    runs-on: ubuntu-latest
    container:
      image: ubuntu:latest
    defaults:
      run:
        shell: bash
    outputs:
      pull-request-target: ${{ steps.pull-request-target.outputs.results }}
    steps:
      - name: Setup container
        run: apt update && apt install -y git
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: lts/*
      - name: Find pull request target
        id: pull-request-target
        uses: ./.github/actions/find-pull-request
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          pr_required: true

  jest:
    name: Jest unit tests
    needs: find-pull-request
    uses: ./.github/workflows/jest.yml
    with:
      ref: 'refs/pull/${{ fromJSON(needs.find-pull-request.outputs.pull-request-target).pr_number }}/merge'
    secrets: inherit

  eslint:
    name: ESLint
    needs: find-pull-request
    uses: ./.github/workflows/eslint.yml
    with:
      ref: 'refs/pull/${{ fromJSON(needs.find-pull-request.outputs.pull-request-target).pr_number }}/merge'
    secrets: inherit

  comment-pull-request:
    name: Comment pull request
    needs: [find-pull-request, jest, eslint]
    runs-on: ubuntu-latest
    container:
      image: ubuntu:latest
    defaults:
      run:
        shell: bash
    steps:
      - name: Setup container
        run: apt update && apt install -y git
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: lts/*
      - name: Comment pull request
        uses: ./.github/actions/comment-pull-request
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          pr_number: ${{ fromJSON(needs.find-pull-request.outputs.pull-request-target).pr_number }}
          comment: |
            [![Pull Request Checks](https://github.com/newrelic/newrelic-browser-agent/actions/workflows/pull-request-checks.yml/badge.svg?branch=${{ github.ref_name }})](https://github.com/newrelic/newrelic-browser-agent/actions/runs/${{ github.run_number }})

            Last ran on `Jun 2, 2023, 9:58 PM CDT`
            Checking merge of (${{ fromJSON(needs.find-pull-request.outputs.pull-request-target).head_sha }}) into [${{ fromJSON(needs.find-pull-request.outputs.pull-request-target).base_ref }}](https://github.com/newrelic/newrelic-browser-agent/compare/${{ fromJSON(needs.find-pull-request.outputs.pull-request-target).head_sha }}..${{ fromJSON(needs.find-pull-request.outputs.pull-request-target).base_sha }}) (${{ fromJSON(needs.find-pull-request.outputs.pull-request-target).base_sha }})
          comment_tag: <!-- browser_agent pull request checks -->
