name: Polyfill Tests

on:
  pull_request_target:
    types: [labeled]
  workflow_dispatch:

jobs:
  chrome-functional:
    if: contains(fromJson('["workflow_dispatch"]'), github.event_name) || contains(github.event.pull_request.labels.*.name, 'safe to test')
    timeout-minutes: 90
    continue-on-error: true
    runs-on: ubuntu-latest
    container: node:14
    
    env:
      NEWRELIC_ENVIRONMENT: ci
      JIL_SAUCE_LABS_USERNAME: ${{ secrets.JIL_SAUCE_LABS_USERNAME }}
      JIL_SAUCE_LABS_ACCESS_KEY: ${{ secrets.JIL_SAUCE_LABS_ACCESS_KEY }}
      NEW_RELIC_LICENSE_KEY: ${{ secrets.JIL_NODE_NEW_RELIC_LICENSE_KEY }}
      BUILD_NUMBER: PR${{ github.event.number }}-unit-${{ github.run_number }}
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: install
        run: npm ci --cache ./.npm

      - name: build
        run: npm run build:all

      - name: run tests
        run: node --max-old-space-size=8192 ./tools/jil/bin/cli.js -P -b chrome@* -s -t 85000 --concurrent=2 --functional-only
  chrome-unit:
    if: contains(fromJson('["workflow_dispatch"]'), github.event_name) || contains(github.event.pull_request.labels.*.name, 'safe to test')
    timeout-minutes: 90
    continue-on-error: true
    runs-on: ubuntu-latest
    container: node:14
    
    env:
      NEWRELIC_ENVIRONMENT: ci
      JIL_SAUCE_LABS_USERNAME: ${{ secrets.JIL_SAUCE_LABS_USERNAME }}
      JIL_SAUCE_LABS_ACCESS_KEY: ${{ secrets.JIL_SAUCE_LABS_ACCESS_KEY }}
      NEW_RELIC_LICENSE_KEY: ${{ secrets.JIL_NODE_NEW_RELIC_LICENSE_KEY }}
      BUILD_NUMBER: PR${{ github.event.number }}-unit-${{ github.run_number }}
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: install
        run: npm ci --cache ./.npm

      - name: build
        run: npm run build:all

      - name: run tests
        run: node --max-old-space-size=8192 ./tools/jil/bin/cli.js -P -b chrome@* -s -t 85000 --concurrent=2 --unit-only
  firefox-functional:
    if: contains(fromJson('["workflow_dispatch"]'), github.event_name) || contains(github.event.pull_request.labels.*.name, 'safe to test')
    timeout-minutes: 90
    continue-on-error: true
    runs-on: ubuntu-latest
    container: node:14
    
    env:
      NEWRELIC_ENVIRONMENT: ci
      JIL_SAUCE_LABS_USERNAME: ${{ secrets.JIL_SAUCE_LABS_USERNAME }}
      JIL_SAUCE_LABS_ACCESS_KEY: ${{ secrets.JIL_SAUCE_LABS_ACCESS_KEY }}
      NEW_RELIC_LICENSE_KEY: ${{ secrets.JIL_NODE_NEW_RELIC_LICENSE_KEY }}
      BUILD_NUMBER: PR${{ github.event.number }}-unit-${{ github.run_number }}
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: install
        run: npm ci --cache ./.npm

      - name: build
        run: npm run build:all

      - name: run tests
        run: node --max-old-space-size=8192 ./tools/jil/bin/cli.js -P -b firefox@* -s -t 85000 --concurrent=2 --functional-only
  firefox-unit:
    if: contains(fromJson('["workflow_dispatch"]'), github.event_name) || contains(github.event.pull_request.labels.*.name, 'safe to test')
    timeout-minutes: 90
    continue-on-error: true
    runs-on: ubuntu-latest
    container: node:14
    
    env:
      NEWRELIC_ENVIRONMENT: ci
      JIL_SAUCE_LABS_USERNAME: ${{ secrets.JIL_SAUCE_LABS_USERNAME }}
      JIL_SAUCE_LABS_ACCESS_KEY: ${{ secrets.JIL_SAUCE_LABS_ACCESS_KEY }}
      NEW_RELIC_LICENSE_KEY: ${{ secrets.JIL_NODE_NEW_RELIC_LICENSE_KEY }}
      BUILD_NUMBER: PR${{ github.event.number }}-unit-${{ github.run_number }}
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: install
        run: npm ci --cache ./.npm

      - name: build
        run: npm run build:all

      - name: run tests
        run: node --max-old-space-size=8192 ./tools/jil/bin/cli.js -P -b firefox@* -s -t 85000 --concurrent=2 --unit-only
  edge-functional:
    if: contains(fromJson('["workflow_dispatch"]'), github.event_name) || contains(github.event.pull_request.labels.*.name, 'safe to test')
    timeout-minutes: 90
    continue-on-error: true
    runs-on: ubuntu-latest
    container: node:14
    
    env:
      NEWRELIC_ENVIRONMENT: ci
      JIL_SAUCE_LABS_USERNAME: ${{ secrets.JIL_SAUCE_LABS_USERNAME }}
      JIL_SAUCE_LABS_ACCESS_KEY: ${{ secrets.JIL_SAUCE_LABS_ACCESS_KEY }}
      NEW_RELIC_LICENSE_KEY: ${{ secrets.JIL_NODE_NEW_RELIC_LICENSE_KEY }}
      BUILD_NUMBER: PR${{ github.event.number }}-unit-${{ github.run_number }}
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: install
        run: npm ci --cache ./.npm

      - name: build
        run: npm run build:all

      - name: run tests
        run: node --max-old-space-size=8192 ./tools/jil/bin/cli.js -P -b edge@* -s -t 85000 --concurrent=2 --functional-only
  edge-unit:
    if: contains(fromJson('["workflow_dispatch"]'), github.event_name) || contains(github.event.pull_request.labels.*.name, 'safe to test')
    timeout-minutes: 90
    continue-on-error: true
    runs-on: ubuntu-latest
    container: node:14
    
    env:
      NEWRELIC_ENVIRONMENT: ci
      JIL_SAUCE_LABS_USERNAME: ${{ secrets.JIL_SAUCE_LABS_USERNAME }}
      JIL_SAUCE_LABS_ACCESS_KEY: ${{ secrets.JIL_SAUCE_LABS_ACCESS_KEY }}
      NEW_RELIC_LICENSE_KEY: ${{ secrets.JIL_NODE_NEW_RELIC_LICENSE_KEY }}
      BUILD_NUMBER: PR${{ github.event.number }}-unit-${{ github.run_number }}
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: install
        run: npm ci --cache ./.npm

      - name: build
        run: npm run build:all

      - name: run tests
        run: node --max-old-space-size=8192 ./tools/jil/bin/cli.js -P -b edge@* -s -t 85000 --concurrent=2 --unit-only
  safari-functional:
    if: contains(fromJson('["workflow_dispatch"]'), github.event_name) || contains(github.event.pull_request.labels.*.name, 'safe to test')
    timeout-minutes: 90
    continue-on-error: true
    runs-on: ubuntu-latest
    container: node:14
    
    env:
      NEWRELIC_ENVIRONMENT: ci
      JIL_SAUCE_LABS_USERNAME: ${{ secrets.JIL_SAUCE_LABS_USERNAME }}
      JIL_SAUCE_LABS_ACCESS_KEY: ${{ secrets.JIL_SAUCE_LABS_ACCESS_KEY }}
      NEW_RELIC_LICENSE_KEY: ${{ secrets.JIL_NODE_NEW_RELIC_LICENSE_KEY }}
      BUILD_NUMBER: PR${{ github.event.number }}-unit-${{ github.run_number }}
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: install
        run: npm ci --cache ./.npm

      - name: build
        run: npm run build:all

      - name: run tests
        run: node --max-old-space-size=8192 ./tools/jil/bin/cli.js -P -b safari@* -s -t 85000 --concurrent=2 --functional-only
  safari-unit:
    if: contains(fromJson('["workflow_dispatch"]'), github.event_name) || contains(github.event.pull_request.labels.*.name, 'safe to test')
    timeout-minutes: 90
    continue-on-error: true
    runs-on: ubuntu-latest
    container: node:14
    
    env:
      NEWRELIC_ENVIRONMENT: ci
      JIL_SAUCE_LABS_USERNAME: ${{ secrets.JIL_SAUCE_LABS_USERNAME }}
      JIL_SAUCE_LABS_ACCESS_KEY: ${{ secrets.JIL_SAUCE_LABS_ACCESS_KEY }}
      NEW_RELIC_LICENSE_KEY: ${{ secrets.JIL_NODE_NEW_RELIC_LICENSE_KEY }}
      BUILD_NUMBER: PR${{ github.event.number }}-unit-${{ github.run_number }}
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: install
        run: npm ci --cache ./.npm

      - name: build
        run: npm run build:all

      - name: run tests
        run: node --max-old-space-size=8192 ./tools/jil/bin/cli.js -P -b safari@* -s -t 85000 --concurrent=2 --unit-only
  ios-functional:
    if: contains(fromJson('["workflow_dispatch"]'), github.event_name) || contains(github.event.pull_request.labels.*.name, 'safe to test')
    timeout-minutes: 90
    continue-on-error: true
    runs-on: ubuntu-latest
    container: node:14
    
    env:
      NEWRELIC_ENVIRONMENT: ci
      JIL_SAUCE_LABS_USERNAME: ${{ secrets.JIL_SAUCE_LABS_USERNAME }}
      JIL_SAUCE_LABS_ACCESS_KEY: ${{ secrets.JIL_SAUCE_LABS_ACCESS_KEY }}
      NEW_RELIC_LICENSE_KEY: ${{ secrets.JIL_NODE_NEW_RELIC_LICENSE_KEY }}
      BUILD_NUMBER: PR${{ github.event.number }}-unit-${{ github.run_number }}
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: install
        run: npm ci --cache ./.npm

      - name: build
        run: npm run build:all

      - name: run tests
        run: node --max-old-space-size=8192 ./tools/jil/bin/cli.js -P -b ios@* -s -t 85000 --concurrent=2 --functional-only
  ios-unit:
    if: contains(fromJson('["workflow_dispatch"]'), github.event_name) || contains(github.event.pull_request.labels.*.name, 'safe to test')
    timeout-minutes: 90
    continue-on-error: true
    runs-on: ubuntu-latest
    container: node:14
    
    env:
      NEWRELIC_ENVIRONMENT: ci
      JIL_SAUCE_LABS_USERNAME: ${{ secrets.JIL_SAUCE_LABS_USERNAME }}
      JIL_SAUCE_LABS_ACCESS_KEY: ${{ secrets.JIL_SAUCE_LABS_ACCESS_KEY }}
      NEW_RELIC_LICENSE_KEY: ${{ secrets.JIL_NODE_NEW_RELIC_LICENSE_KEY }}
      BUILD_NUMBER: PR${{ github.event.number }}-unit-${{ github.run_number }}
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: install
        run: npm ci --cache ./.npm

      - name: build
        run: npm run build:all

      - name: run tests
        run: node --max-old-space-size=8192 ./tools/jil/bin/cli.js -P -b ios@* -s -t 85000 --concurrent=2 --unit-only
  android-functional:
    if: contains(fromJson('["workflow_dispatch"]'), github.event_name) || contains(github.event.pull_request.labels.*.name, 'safe to test')
    timeout-minutes: 90
    continue-on-error: true
    runs-on: ubuntu-latest
    container: node:14
    
    env:
      NEWRELIC_ENVIRONMENT: ci
      JIL_SAUCE_LABS_USERNAME: ${{ secrets.JIL_SAUCE_LABS_USERNAME }}
      JIL_SAUCE_LABS_ACCESS_KEY: ${{ secrets.JIL_SAUCE_LABS_ACCESS_KEY }}
      NEW_RELIC_LICENSE_KEY: ${{ secrets.JIL_NODE_NEW_RELIC_LICENSE_KEY }}
      BUILD_NUMBER: PR${{ github.event.number }}-unit-${{ github.run_number }}
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: install
        run: npm ci --cache ./.npm

      
      - name: build
        run: npm run build:all

      - name: run tests
        run: node --max-old-space-size=8192 ./tools/jil/bin/cli.js -P -b android@* -s -t 85000 --concurrent=2 --functional-only
  android-unit:
    if: contains(fromJson('["workflow_dispatch"]'), github.event_name) || contains(github.event.pull_request.labels.*.name, 'safe to test')
    timeout-minutes: 90
    continue-on-error: true
    runs-on: ubuntu-latest
    container: node:14
    
    env:
      NEWRELIC_ENVIRONMENT: ci
      JIL_SAUCE_LABS_USERNAME: ${{ secrets.JIL_SAUCE_LABS_USERNAME }}
      JIL_SAUCE_LABS_ACCESS_KEY: ${{ secrets.JIL_SAUCE_LABS_ACCESS_KEY }}
      NEW_RELIC_LICENSE_KEY: ${{ secrets.JIL_NODE_NEW_RELIC_LICENSE_KEY }}
      BUILD_NUMBER: PR${{ github.event.number }}-unit-${{ github.run_number }}
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: install
        run: npm ci --cache ./.npm

      
      - name: build
        run: npm run build:all

      - name: run tests
        run: node --max-old-space-size=8192 ./tools/jil/bin/cli.js -P -b android@* -s -t 85000 --concurrent=2 --unit-only
  ie-functional:
    if: contains(fromJson('["workflow_dispatch"]'), github.event_name) || contains(github.event.pull_request.labels.*.name, 'safe to test')
    timeout-minutes: 90
    continue-on-error: true
    runs-on: ubuntu-latest
    container: node:14
    
    env:
      NEWRELIC_ENVIRONMENT: ci
      JIL_SAUCE_LABS_USERNAME: ${{ secrets.JIL_SAUCE_LABS_USERNAME }}
      JIL_SAUCE_LABS_ACCESS_KEY: ${{ secrets.JIL_SAUCE_LABS_ACCESS_KEY }}
      NEW_RELIC_LICENSE_KEY: ${{ secrets.JIL_NODE_NEW_RELIC_LICENSE_KEY }}
      BUILD_NUMBER: PR${{ github.event.number }}-unit-${{ github.run_number }}
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: install
        run: npm ci --cache ./.npm

      - name: build
        run: npm run build:all

      - name: run tests
        run: node --max-old-space-size=8192 ./tools/jil/bin/cli.js -P -b ie@* -s -t 85000 --concurrent=2 --functional-only
  ie-unit:
    if: contains(fromJson('["workflow_dispatch"]'), github.event_name) || contains(github.event.pull_request.labels.*.name, 'safe to test')
    timeout-minutes: 90
    continue-on-error: true
    runs-on: ubuntu-latest
    container: node:14
    
    env:
      NEWRELIC_ENVIRONMENT: ci
      JIL_SAUCE_LABS_USERNAME: ${{ secrets.JIL_SAUCE_LABS_USERNAME }}
      JIL_SAUCE_LABS_ACCESS_KEY: ${{ secrets.JIL_SAUCE_LABS_ACCESS_KEY }}
      NEW_RELIC_LICENSE_KEY: ${{ secrets.JIL_NODE_NEW_RELIC_LICENSE_KEY }}
      BUILD_NUMBER: PR${{ github.event.number }}-unit-${{ github.run_number }}
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: install
        run: npm ci --cache ./.npm

      - name: build
        run: npm run build:all

      - name: run tests
        run: node --max-old-space-size=8192 ./tools/jil/bin/cli.js -P -b ie@* -s -t 85000 --concurrent=2 --unit-only
  check-failures:
    runs-on: ubuntu-latest
    container: node:14
    needs: [chrome-functional, chrome-unit, firefox-functional, firefox-unit, safari-functional, safari-unit, edge-functional, edge-unit, ios-functional, ios-unit, android-functional, android-unit, ie-functional, ie-unit]
    env:
      BUILD_NUMBER: PR${{ github.event.number }}-unit-${{ github.run_number }}
      NRQL_API_KEY: ${{ secrets.NRQL_API_KEY }}
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: install
        run: npm ci --cache ./.npm

      - name: check failed tests
        run: node --max-old-space-size=8192 ./tools/jil/util/get-failed-tests.js
        
  
        