name: Polyfill Tests

on:
  workflow_dispatch:

env:
  BUILD_NUMBER: PR${{ github.event.number }}-job-${{ github.run_number }}-attempt-${{ github.run_attempt }}

jobs:
  ie-functional:
    timeout-minutes: 90
    continue-on-error: true
    runs-on: ubuntu-latest
    container: node:14

    env:
      NEWRELIC_ENVIRONMENT: ci
      JIL_SAUCE_LABS_USERNAME: ${{ secrets.JIL_SAUCE_LABS_USERNAME }}
      JIL_SAUCE_LABS_ACCESS_KEY: ${{ secrets.JIL_SAUCE_LABS_ACCESS_KEY }}
      NEW_RELIC_LICENSE_KEY: ${{ secrets.JIL_NODE_NEW_RELIC_LICENSE_KEY }}

    steps:
      - uses: ./.github/reusable_wfs/setup.yml

      - name: run tests
        run: node --max-old-space-size=8192 ./tools/jil/bin/cli.js -P -b ie@* -s -t 85000 --concurrent=2 --functional-only
  ie-unit:
    timeout-minutes: 90
    continue-on-error: true
    runs-on: ubuntu-latest
    container: node:14

    env:
      NEWRELIC_ENVIRONMENT: ci
      JIL_SAUCE_LABS_USERNAME: ${{ secrets.JIL_SAUCE_LABS_USERNAME }}
      JIL_SAUCE_LABS_ACCESS_KEY: ${{ secrets.JIL_SAUCE_LABS_ACCESS_KEY }}
      NEW_RELIC_LICENSE_KEY: ${{ secrets.JIL_NODE_NEW_RELIC_LICENSE_KEY }}

    steps:
      - uses: ./.github/reusable_wfs/setup.yml

      - name: run tests
        run: node --max-old-space-size=8192 ./tools/jil/bin/cli.js -P -b ie@* -s -t 85000 --concurrent=2 --unit-only
  polyfill-check-failures:
    runs-on: ubuntu-latest
    continue-on-error: true
    container: node:14
    if: ${{ !failure() }}  # final check if each needed test either pass or cancelled (special circumstance) and didn't outright fail
    needs: [ie-functional, ie-unit]
    env:

      NRQL_API_KEY: ${{ secrets.NRQL_API_KEY }}
    steps:
      - uses: ./.github/reusable_wfs/setup.yml

      - name: check failed tests
        run: node --max-old-space-size=8192 ./tools/jil/util/get-failed-tests.js


