name: 'WDIO: All browsers'

on:
  workflow_dispatch:
  workflow_call:
    inputs:
      ref:
        description: 'Github branch ref to checkout and run tests on'
        required: false
        type: string
    secrets:
      SAUCE_USERNAME:
        required: true
      SAUCE_ACCESS_KEY:
        required: true

jobs:
  chrome:
    uses: ./.github/workflows/wdio-single-browser.yml
    with:
      ref: ${{ inputs.ref || github.ref }}
      browser-target: chrome@*
    secrets: inherit

  firefox:
    uses: ./.github/workflows/wdio-single-browser.yml
    with:
      ref: ${{ inputs.ref || github.ref }}
      browser-target: firefox@*
    secrets: inherit

  safari:
    uses: ./.github/workflows/wdio-single-browser.yml
    with:
      ref: ${{ inputs.ref || github.ref }}
      browser-target: safari@*
    secrets: inherit

  edge:
    uses: ./.github/workflows/wdio-single-browser.yml
    with:
      ref: ${{ inputs.ref || github.ref }}
      browser-target: edge@*
    secrets: inherit

  ios-15_5:
    uses: ./.github/workflows/wdio-single-browser.yml
    with:
      ref: ${{ inputs.ref || github.ref }}
      browser-target: ios@15.5
    secrets: inherit

  ios-16_0:
    uses: ./.github/workflows/wdio-single-browser.yml
    with:
      ref: ${{ inputs.ref || github.ref }}
      browser-target: ios@16.0
    secrets: inherit

  ios-16_2:
    uses: ./.github/workflows/wdio-single-browser.yml
    with:
      ref: ${{ inputs.ref || github.ref }}
      browser-target: ios@16.2
    secrets: inherit

  ios-17_0:
    uses: ./.github/workflows/wdio-single-browser.yml
    with:
      ref: ${{ inputs.ref || github.ref }}
      browser-target: ios@17.0
    secrets: inherit

  android:
    uses: ./.github/workflows/wdio-single-browser.yml
    with:
      ref: ${{ inputs.ref || github.ref }}
      browser-target: android@*
    secrets: inherit

  ie:
    uses: ./.github/workflows/wdio-single-browser.yml
    with:
      ref: ${{ inputs.ref || github.ref }}
      browser-target: ie@11
      additional-flags: -P
    secrets: inherit

  ios-webview:
    uses: ./.github/workflows/wdio-single-browser.yml
    with:
      ref: ${{ inputs.ref || github.ref }}
      browser-target: ios@*
      additional-flags: --webview --timeout 300000
    secrets: inherit

  android-webview:
    uses: ./.github/workflows/wdio-single-browser.yml
    with:
      ref: ${{ inputs.ref || github.ref }}
      browser-target: android@*
      additional-flags: --webview --timeout 300000
    secrets: inherit
