name: 'WDIO: All browsers'

on:
  workflow_dispatch:
    inputs:
      build-number:
        description: 'Used to associate test results reported to New Relic to the BUILD_NUMBER identifier'
        required: true
        type: string
  workflow_call:
    inputs:
      build-number:
        description: 'Used to associate test results reported to New Relic to the BUILD_NUMBER identifier'
        required: true
        type: string
      ref:
        description: 'Github branch ref to checkout and run tests on'
        required: false
        type: string
    secrets:
      JIL_SAUCE_LABS_USERNAME:
        required: true
      JIL_SAUCE_LABS_ACCESS_KEY:
        required: true
      JIL_NODE_NEW_RELIC_LICENSE_KEY:
        required: true

jobs:
  chrome:
    uses: ./.github/workflows/wdio-single-browser.yml
    with:
      ref: ${{ inputs.ref || github.ref }}
      browser-target: chrome@*
      build-number: ${{ inputs.build-number }}
    secrets: inherit

  firefox:
    uses: ./.github/workflows/wdio-single-browser.yml
    with:
      ref: ${{ inputs.ref || github.ref }}
      browser-target: firefox@*
      build-number: ${{ inputs.build-number }}
    secrets: inherit

  safari:
    uses: ./.github/workflows/wdio-single-browser.yml
    with:
      ref: ${{ inputs.ref || github.ref }}
      # Don't test safari@15
      browser-target: safari@16
      build-number: ${{ inputs.build-number }}
    secrets: inherit

  edge:
    uses: ./.github/workflows/wdio-single-browser.yml
    with:
      ref: ${{ inputs.ref || github.ref }}
      browser-target: edge@*
      build-number: ${{ inputs.build-number }}
    secrets: inherit

  ios:
    uses: ./.github/workflows/wdio-single-browser.yml
    with:
      ref: ${{ inputs.ref || github.ref }}
      browser-target: ios@*
      build-number: ${{ inputs.build-number }}
    secrets: inherit

  android:
    uses: ./.github/workflows/wdio-single-browser.yml
    with:
      ref: ${{ inputs.ref || github.ref }}
      browser-target: android@*
      build-number: ${{ inputs.build-number }}
    secrets: inherit

  ie:
    uses: ./.github/workflows/wdio-single-browser.yml
    with:
      ref: ${{ inputs.ref || github.ref }}
      browser-target: ie@11
      build-number: ${{ inputs.build-number }}
      additional-flags: -P
    secrets: inherit
